h1{
	border: 5px solid black;
	font-family: 'Arial', sans-serif;
	text-transform: uppercase;
	text-align: center;
	padding: 20px;
	margin: 50px;
}
h2{
	font-family: 'Arial',sans-serif;
	border-style: solid;
	border-width: 2px;
	border-color: darkgreen;
	text-align: center;
	padding: 10px 100px;

}
.cadre{
	background-color: lightgreen;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	padding: 25px;
	max-width: 600px;
	margin: 20px auto;
}
.cadre-rouge{
	background-color: red;
	border-style: solid;
	border-width: 4px;
	border-color: black;
	padding: 25px;
	max-width: 600px;
	margin: 20px auto;
}
.Article{
	background-color: white;
	padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;

}